.warning{
    color: crimson;
}

div {
    width: 60%;
    text-align: center;
    background-color: #d3d6db;
    margin-left: 15%;
    padding: 5%;
    
}

h1, h2, h3, h4, h5, h6, p, li{
    font-family: Arial, Helvetica, sans-serif;
    
    
}

button {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .45rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}